<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card bg-white">
        <div class="card-body p-3">

          <form class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onRegister()">

            <h2 class="fw-bold mb-2 text-uppercase">LogiTrax Ltd.</h2>
            <p class="mb-5">Please enter your details here</p>

            <!-- Username -->
            <div class="mb-3 form-group required">
              <label for="username" class="form-label control-label">Username</label>
              <input type="text" class="form-control" id="username" formControlName="username">
              <div *ngIf="itemForm.get('username')?.invalid && itemForm.get('username')?.touched">
                <span class="text-danger">Invalid username</span>
              </div>
            </div>

            <!-- Email -->
            <div class="mb-3 form-group required">
              <label class="form-label control-label">Email</label>
              <input type="email" class="form-control" formControlName="email">
              <div *ngIf="itemForm.get('email')?.invalid && itemForm.get('email')?.touched">
                <span class="text-danger">Enter valid email</span>
              </div>
            </div>

            <!-- Password -->
            <div class="mb-3 form-group required">
              <label class="form-label control-label">Password</label>
              <input [type]="passwordFieldType" class="form-control" formControlName="password">
              <div *ngIf="itemForm.get('password')?.invalid && itemForm.get('password')?.touched">
                <span class="text-danger">Strong password required</span>
              </div>
            </div>

            <!-- Confirm Password -->
            <div class="mb-3 form-group required">
              <label class="form-label control-label">Confirm Password</label>
              <input [type]="passwordFieldType"
                     class="form-control"
                     id="retypepassword"
                     formControlName="retypepassword">

              <div *ngIf="itemForm.errors?.['notMatch'] && itemForm.get('retypepassword')?.touched" class="text-danger">
                Password doesn't match.
              </div>

              <div *ngIf="!itemForm.errors?.['notMatch'] && itemForm.get('retypepassword')?.value" class="text-success">
                Password Matched
              </div>


              <div class="form-check form-switch mt-3">
                <input class="form-check-input" type="checkbox" (change)="togglePasswordVisibility()">
                <label class="form-check-label">Show Password</label>
              </div>
            </div>

            <!-- Role -->
            <div class="mb-3 form-group required">
              <label class="form-label control-label">Role</label>
              <select class="form-control" formControlName="role">
                <option [ngValue]="null">Choose User Type</option>
                <option value="BUSINESS">Business</option>
                <option value="DRIVER">Driver</option>
                <option value="CUSTOMER">Customer</option>
              </select>
              <div *ngIf="itemForm.get('role')?.invalid && itemForm.get('role')?.touched">
                <span class="text-danger">Role required</span>
              </div>
            </div>

            <div class="d-grid">
              <button class="btn btn-outline-dark" type="submit">Submit</button>
            </div>
          </form>

          <!-- Success -->
          <div *ngIf="showMessage" class="alert alert-success mt-4">
            {{responseMessage}} Redirecting you to login page...
          </div>

          <!-- Error -->
          <div *ngIf="errorMessage" class="alert alert-danger mt-4">
            {{responseMessage}}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>