<div class="login-bg">

  <div class="container-fluid h-100">
    <div class="row h-100">

      <!-- LEFT SIDE (empty for large screens, hidden on mobile) -->
      <div class="col-lg-7 d-none d-lg-block"></div>

      <!-- RIGHT SIDE (Login card) -->
      <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-end">

        <div class="card shadow-sm border-0 rounded-3 w-100 login-card">
          <div class="card-body p-4">

            <h3 class="fw-bold text-uppercase text-center mb-1 fs-1"><span class="custom-cargo-color">Cargo</span><span class="custom-wala-color">Wala</span></h3>
            <p class="text-center text-black mb-4">Enter Username & Password</p>

            <form [formGroup]="itemForm" (ngSubmit)="onLogin()">

              <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" placeholder="Enter username" formControlName="username">
              </div>

              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="********" formControlName="password">
              </div>

              <button type="submit" class="btn btn-custom-gradient w-100" [disabled]="itemForm.invalid">
                Login
              </button>

            </form>

            <p class="text-center mt-3 mb-0 text-black">
              Don't have an account?
              <a routerLink="/registration" class="fw-bold custom-cargo-color text-decoration-none">Register</a>
            </p>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>