<div class="container mt-4">
  <h2 class="text-center mb-4">Payment</h2>

  <div class="alert alert-info" *ngIf="previewAmountInPaise !== null">
  Estimated Amount: ₹ {{ (previewAmountInPaise! / 100) }}
</div>

  <div class="alert alert-danger" *ngIf="message && message.startsWith('❌')">
    {{ message }}
  </div>

  <div class="alert alert-success" *ngIf="message && message.startsWith('✅')">
    {{ message }}
  </div>

  <form [formGroup]="paymentForm" (ngSubmit)="pay()">

    <div class="row g-3">

      <div class="col-md-6">
        <label class="form-label">Source City</label>
        <select class="form-select" formControlName="sourceCity">
          <option value="">Choose</option>
          <option *ngFor="let c of supportedCities" [value]="c">{{ c }}</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Destination City</label>
        <select class="form-select" formControlName="destinationCity">
          <option value="">Choose</option>
          <option *ngFor="let c of supportedCities" [value]="c">{{ c }}</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Weight (KG)</label>
        <input type="number" class="form-control" formControlName="size" min="1" max="10000" placeholder="Enter weight in KG">
        <small class="text-danger" *ngIf="paymentForm.get('size')?.touched && paymentForm.get('size')?.invalid">
          Weight must be between 1 and 10000 KG
        </small>
      </div>

      <div class="col-md-3">
        <label class="form-label">Driver ID</label>
        <input type="number" class="form-control" formControlName="driverId" placeholder="Driver ID" readonly>
      </div>

      <div class="col-md-3">
        <label class="form-label">Cargo ID</label>
        <input type="number" class="form-control" formControlName="cargoId" placeholder="Cargo ID" readonly>
      </div>

    </div>

    <button class="btn btn-primary w-100 mt-4" type="submit" [disabled]="loading">
      {{ loading ? 'Processing...' : 'Calculate / Pay' }}
    </button>

  </form>
</div>